/* Font famillies */

html{
    scroll-behavior: smooth;
}

:root{

}

#about-me, #contact, #portfolio{
    scroll-snap-type: y proximity;
}


/* the dock element will snap the nav to it when it gets close in proximity  */
dock {
    display: block;
    width:100%;
    height:64px;
    scroll-snap-align: start;
    background-color: slategray;
}
/* ---------------------------------- INTRO ----------------------------------------------------- */
.font-audiowide{
    font-family: 'Audiowide', cursive;
}

.name, .last-name, .title{
    margin: 0;
    padding:10px;
    font-family: 'Audiowide', cursive;
    color:#ffc107;
}
.last-name{
    margin-left:25%;
}

.name {
    margin-left: 40px;
    color:white;
}


.shade{
    padding-top:40px;
    width:50%;
    height:100vh;
    background-color: rgba(0,0,0,0.6);
}

.shade-long{
    top:75%;
    left:10%;
    position: absolute;
    z-index: 1;
    width:fit-content;
    height:fit-content;
    background-color: rgba(0,0,0,0.6);
    padding:0px;
    border-radius: 15px;
}

#first-impressions{
    position: relative;
    top: 0;
    width:100%;
    height:auto;
    background-color: white;
    background-image: url(../images/Profile.JPG);
    background-size: cover;
    background-position: center;
}
/* ----------------------------------------------------- NAV -------------------------------------------------------- */
nav{
    background-color: transparent;
    position: sticky;
    top:0;
    display: flex;
    justify-content: flex-start;
}
/* ----------------------------------------------------- ABOUT ME -------------------------------------------------------- */
  
#about-me{
    padding-top:0px;
    margin-top:-64px;
    width:100%;
    height:100vh;
    background-color:teal;
}
.v-tabs{
    margin:0;
    padding:0;
    height:fit-content;
    margin:10px;
}

.v-tab{
    width:fit-content;
    height:auto;
    margin:10px 0;
    margin-left:5px;
    padding:10px 5px;
}
.align {
    display: flex;
    align-items: center;
}

.v-tab:hover{
    z-index:1;
    cursor: pointer;
    transform: scale(1.05);

}

.col.pillar{
    margin:0;
    padding:0px 0.5rem;
    width:100%;
    height:100%;
    background-color:slateblue;
}

.tab-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin:0 0;
    padding:0;
    width: 100%;
    height: 100%;
    background-color: slategray;
}



.tab-break{
    width:100%;
    height:30px;
    background-color: beige;
}


/* --------------------------------------------------- PORTFOLIO ---------------------------------------------------------- */
#portfolio{
    margin: 0;
    padding-top:64px;
    width:100%;
    height:100vh;
    background-color:beige;
}

.portfolio-header {
    margin:0;
    padding:0;
}
/* --------------------------------------------------- CONTACT ------------------------------------------------------------- */
#contact{
    margin: 0;
    padding-top: 64px;
    width:100%;
    height:100vh;
    background-color:teal;
}
#arrow {
    width:100%;
    height:0;
    border-top:17vw solid beige;
    border-left:50vw solid transparent;
    border-right:50vw solid transparent;
}

footer{
    width:100%;
    height: 25%;
    background-color: cadetblue;
}

/* ----------------------------------- MEDIA QUERIES -------------------------------------- */

@media (min-width: 576px) {
    
}
@media (min-width: 768px) {
    
}
@media (min-width: 992px) {
  
@media (min-width: 1200px) {
   
}